@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
html {
    font-size : 16px;
    scroll-behavior: smooth;
}
body {
    background: white;
    color: #2b343b;
}
body.dark {
    background: #2b343b;
    color: white;
}
.navigation {
    z-index: 999;
    position: fixed;
    height: 800px;
    width: 70px;
    background: #F8F9FA;
    box-shadow: 10px 0 0 #4186f6;
    border-left: 10px solid #F8F9FA;
    overflow-x: hidden;
    transition: width 0.4s;
}
.navigation.active {
    background: #2b343b;
    border-left: 10px solid #2b343b;
}
/* .navigation:hover {
    width: 70px;
} */
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-radius: 20px 0 0 20px;
}
.navigation ul li.active {
    background: #4186f6;
}
.navigation ul li.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 15px 15px 0px #4186f6;
}
.navigation ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 15px -15px 0px #4186f6;
}
.navigation ul li a {
    position: relative;
    display: flex;
    text-decoration: none;
    width: 100%;
    color: #2b343b;
    font-weight: bold;
}
.navigation ul li a.toggle {
    color: #fff;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}
.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.checkbox {
    opacity: 0;
    position: absolute;
}
.label {
    width: 50px;
    height: 26px;
    background-color:#232c33;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}
.ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}
  /*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
    transform: translateX(24px);
}
  
.fa-moon {
    color: pink;
}
  
.fa-sun {
    color: yellow;
    margin-left: 8px;
}
.header {
    width: 100%;
    /* box-shadow: 0px 1px 4px rgb(0 0 0 / 16%); */
    border-radius: 5px;
}
.header__content {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width : 100px;
    height: 100px;
}
.logo {
    text-align: center;
    padding-bottom: 10px;
}
#home, #destination, #intro, #team {
    margin: 30px 0;
}
#document {
    margin: 80px 0;
}
.home__content {
    width: 85%;
    margin: auto;
    margin-right: 0;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.home__text .hi {
    font-size: 2rem;
}
.home__text h3 span {
    font-weight: bold;
    color: blue;
}
.home__text h3 {
    font-size: 4rem;
}
.fa-circle, .fa-hand-peace {
    margin-right: 5px;
}
.fa-book-open, .fa-star {
    margin-right: 5px;
    font-size: 1rem!important;
}
.fa-star {
    color: #ff0e83;
}
.fa-book-open {
    color: yellowgreen;
}
.fa:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.2);
} 
.home__text .info {
    font-size: 2rem;
    padding: 0.5rem 0;
}
.home__intro .text {
    font-size: 1rem;
    padding: 0.5rem 0;
}
.home__image img {
    width: 100%;
}
.home__text .btn a button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: blue;
    border: 2px solid blue;
    color: white;
}
.intro__content {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
.intro__text {
    padding: 50px 0;
    font-size: 1.5rem;
}
.theme__slide {
    display: flex;
    justify-content: space-between;
}
#intro .intro__slide {
    border: 5px solid blue;
    border-radius: 15px;
}
#intro .intro__img img:hover {
    transform: scale(0.9);
}
.header__slide {
    border-bottom: 5px solid blue;
    height: 50px;
}
.text__slide p {
    letter-spacing: 1px;
    font-size: 1.25rem;
    padding: 10px 15px;
}
.text__slide i {
    font-size: 0.5rem;
}
.slide__icon {
    padding: 10px;
}
.slide__icon i {
    margin: 2px;
}
.slide__icon.square {
    display: flex;
    justify-content: space-between;
}
#idea .intro__slide.active {
    border-radius: 0;
}
.slide__icon.active i {
    padding: 1px;
}
.slide__icon i:hover, button:hover {
    opacity: 0.6;
    cursor: pointer;
    transform: scale(1.2);
}
.orange {
    color: orange;
}
.green {
    color: yellowgreen;
}
.red {
    color: red;
}
.blue {
    background-color: blue;
}
.pink {
    background-color: #ff0e83;
}
.theme__slide.small {
    padding-top: 20px;
}
#intro .intro__slide.small {
    border: 5px solid #ff0e83;
    height: 80%;
    margin-left: 20px;
}
.header__slide.Pink {
    border-bottom: 5px solid #ff0e83;
}
.intro__image img {
    width: 300px;
    height: 200px;
    background-color: white;
    padding: 0 15px;
}
.text__pic {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.text__pic img {
    width: 280px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 16%);
}
#destination .intro__slide {
    border: 5px solid purple;
    border-radius: 15px;
}
#destination .header__slide {
    border-bottom: 5px solid purple;
    background-color: purple;
    width: 100.2%
}
#idea .intro__slide {
    border: 5px solid red;
    border-radius: 15px;
}
#idea .header__slide {
    border-bottom: 5px solid red;
}
#document .intro__slide {
    border: 4px solid cornflowerblue;
    margin-right: 20px;
    border-radius: 15px
}
#document .header__slide {
    border-bottom: 5px solid cornflowerblue;
    background-color: cornflowerblue;
    width: 100.1%;
}
#idea .intro__slide.square {
    border: 5px solid yellowgreen;
    margin: 100px 15px;
}
#idea .header__slide.square{
    border-bottom: 5px solid yellowgreen;
}
.text__slide a {
    text-decoration: none;
    font-weight: bold;
}
#idea .text__slide a {
    color: #ff0e83;
}
#idea .text__slide a:hover {
    color: #5f68fe;
}
.browser {
    display: flex;
    justify-content: space-between;
}
.browser h2 {
    font-size: 0.875rem;
    margin-left: 5px;
}
img:hover {
    filter: brightness(1.1);
    transform: scale(1.1);
    cursor: pointer;
}
#document .text__slide a {
    color: yellowgreen;
}
#document .text__slide.Course a {
    color: orange;
}
.fa-laptop {
    font-size: 1.25rem!important;
    margin-right: 5px;
    color: orange;
}
#document .text__slide a:hover {
    opacity: 0.8;
}
#document .text__slide.Course a:hover {
    opacity: 0.7;
}
.responsive {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 110vh;
    background-color: #5f68fe;
    z-index: 9999;
    bottom: 0;
    display: none;
}
.responsive h3 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 90%;padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.212);
    font-family: "poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 2rem;
}
.responsive img {
    width: 100%;
    height: 100%;
    margin : auto;
    overflow: hidden;
}
@media screen and (max-width: 800px) {
    .responsive {
        display: block;
        height: 100%;
    }
}
.team__content {
    width: 80%;
    margin: auto;
    padding: 100px 0 50px;
    align-items: center;
}
.team__content h1 {
    text-align: center;
    font-size: 3rem;
    padding: 1rem 0;
    margin: 2rem 0;
}
.fa-hand-peace {
    color: orange;
}
.team__members {
    display: flex;
    justify-content: space-between;
}
.team__member {
    height: 500px;
    width: 24%;
}
.avatar {
    width: 80%;
    margin: 80px auto;
    text-align: center;
}
.team__member img {
    width: 100%;
    height: 200px;
    border-radius: 50%;
}
.team__icon {
    width: 50%;
    padding: 20px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.team__icon i {
    font-size: 1.25rem;
    color: #4186f6;
}
.team__icon i:hover {
    color: #ff0e83;
    cursor: pointer;
    transform: scale(1.1);
}
.avatar h2 {
    padding: 30px 0 0;
    font-size: 1.25rem;
}
.avatar h4 {
    padding: 10px 0;
    font-size: 1.25rem;
}
.avatar p {
    letter-spacing: 1px;
    font-size: 1rem;
}
.contact {
    width: 80%;
    margin: auto;
    padding : 50px 0;
}
.contact h2 {
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;
    margin-bottom: 1rem;
}
.contact form {
    width : 85%;
    margin : 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap : 15px;
}
.contact__form textarea, .contact__form button {
    grid-column : 1 / span 2;
    padding : 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}
.contact__form input {
    padding : 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 0.875rem;
    font-weight: 500;
}
.contact__form input:focus, .contact__form textarea:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
}
.contact__form button {
    background-color: blue;
    color: white;
    padding: 10px 5px;
    font-size: 1.25rem;
}
.contact__form button:hover {
    transform: scale(1);
}
.contact__map iframe {
    width : 100%;
    margin-top: 50px;
}
.contact__infor {
    padding : 50px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.contact__item i {
    color: blue;
    font-size: 1.3rem;
}
.contact__item p {
    line-height: 28px;
    font-size: 0.875rem;
    margin : 10px 0;
}
.contact__item i:hover {
   transform: scale(1.2);
}
/* FOOTER */
footer {
    background-color: black;
    color : white;
}
.footer__content {
    width : 80%;
    margin : auto;
    padding-top : 50px;
    padding-bottom : 10px;
    display: flex;
    justify-content: space-around;
}
.footer__item {
    width : 25%;
    padding : 0 2rem;
}
.footer__item h3{
    font-size: 1.5rem;
    color : blue;
    text-align :center;
    padding : 20px 0;
}
.footer__item h3:hover {
    color : #4d2883;
    cursor: pointer;
}
.footer__time {
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 10px;
}
.footer__item p {
    font-size: 1rem;
    line-height: 28px;
    margin-top: 0.5rem;
    /* text-align: center; */
}
.footer__form {
    display: flex;
    justify-content: space-between;
}
.footer__form input {
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 10px;
}
.footer__form button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: blue;
    border: 2px solid blue;
    color: white;
    margin-left: 20px;
}
.footer__copyright {
    text-align: center;
    padding : 20px 0;
}
.footer__copyright span a {
    color : #ff0e83;
    text-decoration: none;
}
.footer__copyright span a:hover {
    color : #4e2a84;
    cursor: pointer;
}